h1{
    color:green;
    background-color: gray;

}

p{
    color: red;
    background-color: cornsilk;
}

button{
    color: gold;
    background-color: black;
}

h2{
    color: orange;
}
p{
    color:brown;
}

button{
    color:yellowgreen ;
}