div{
    height: 200px;
    width: 600px;
    background-color: pink;
    /* border-width: 5px;
    border-style: solid;
    border-color: black;
} */

   /* //border shorthand// */
     border: 4px solid yellow;
    /* //Border sides// */
     /* border-left-color: blue;
     border-left-style: dashed; */
     border: 5px solid brown;
     border-radius:10px;
}
h1{
    /* border-width: 2px;
    border-style: dashed;
    border-color:green; */
    border: 2px dashed yellow;


}
